

<h1 class="text-center md-3">{{title}}</h1>



<h4>friends</h4>
<ul class="list-group">
    {{#each friends}}
        <li class="list-group-item">
         <p class="bold">Name: {{this.name}}</p>   
        <p class="bold">Number: {{this.number}}</p>   
        <p class="bold">Birthday: {{this.birthday}}</p>
        <p class="bold">Region: {{this.region}}</p>
        <form action="/birthday" method="POST">
            <input type="submit" value="Send Message" class="btn btn-info">
        </form>
        
        </li>
    {{/each}}
</ul>

